<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thawk.tickethawk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thawk_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/thawk_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >


        <activity android:name="com.thawk.tickethawk.SplitMainActivity"
            android:theme ="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.thawk.tickethawk.CustomerActivity1">
        </activity>


        <activity android:name="com.thawk.tickethawk.CustomerActivity2"
            android:windowSoftInputMode="stateVisible|adjustPan"
           >
        </activity>

        <activity android:name="com.thawk.tickethawk.CustomerMainActivity"
            android:theme ="@style/splash"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:launchMode="singleTop"
            >
        </activity>

        <activity android:name="com.thawk.tickethawk.CustomerVendorListActivity">
        </activity>

        <activity android:name="com.thawk.tickethawk.EventActivity">
        </activity>

        <activity android:name="com.thawk.tickethawk.EventTicketNumberActivity">
        </activity>



    </application>

</manifest>